@media screen and (max-width: 767px){
    h1{
        font-size: 3.5rem;
    }

    h3{
        font-size: 1.9rem;
    }

    h2{
        font-size: 2.5rem;
    }

    .padding-section{
        padding: 30px 0 50px;
    }

    .center-bar i{
        margin: 0 12px;
        font-size: 2rem;
    }

    .short i{
        margin: 0 5px;
    }

    .center-bar::before,
    .center-bar::after{
    width: 70px;

    }
    .short.center-bar::before,
    .short.center-bar::after{
        width: 45px;
    }

    /*************************************************
     PORTOFOLIO 
    ************************************************/
    .portfolio [class^="col"]{
        margin-top: 30px;
    }
}