/* UTILITIES */
.test{
    background-color: rgba(255, 255, 255, .25);
    border: 1px solid black;
    height: 100%;
}

/* BG - COLORS */
.bg-darkblue{
    background-color: rgb(44, 62, 80);
}

.bg-emerald{
    background-color: rgb(26, 188, 156);
}

.mywhite{
    color: rgb(255, 255, 255);
}

.bg{
    background-color: lightskyblue;
}

/* TEXT */
.fw600{
    font-weight: 600;
}

.fs2-5rem{
    font-size: 2.5rem;
}

.fs4rem{
    font-size: 5rem;
}

.fs6rem{
    font-size: 6rem;
}


.center-bar i{
    margin: 0 35px;
}

.center-bar::before,
.center-bar::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.dark.center-bar::before,
.dark.center-bar::after{
    background-color: rgb(44, 62, 80);
    border: 2px solid rgb(44, 62, 80);
}

.h-50{
    height: 50px;
}

.h-250{
    height: 250px;
}

.h-500{
    height: 500px;
}

/******************************************************************* 
HEADER
 ********************************************************************/
header.main-header .mynav{
    margin-bottom: 0px;
    border: 0;
    background-color: transparent;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

header.main-header .container .navbar .mywhite{
    padding-left: 0px;
}

header.main-header .container .navbar .mywhite,
header.main-header .container .navbar .mywhite a{
    color: rgb(255, 255, 255);
}

header.main-header .container .navbar .mywhite a:last-child{
    padding-right: 0;
}

/*****************************************************************
HERO 
******************************************************************/
section.hero{
    padding-top: 50px;
    padding-bottom: 50px;
}

section.hero .container img{
    max-width: 260px;
}


/******************************************************************
PORTFOLIO
******************************************************************/
section.portfolio{
    padding: 70px 0 90px;
}

.portfolio [class^="col"]{
    margin-top: 30px;
}

section.portfolio img.img-rounded{
    border-radius: 5%;
}

/******************************************************************
ABOUT
******************************************************************/

/******************************************************************
CONTACT ME
******************************************************************/
