/* UTILITIES */
.test{
    background-color: rgba(255, 255, 255, .25);
    border: 1px solid black;
    height: 100%;
}

/* BG - COLORS */
.bg-darkblue{
    background-color: rgb(44, 62, 80);
}

.bg-emerald{
    background-color: rgb(26, 188, 156);
}

.mywhite{
    color: rgb(255, 255, 255);
}

.bg{
    background-color: lightskyblue;
}

/* TEXT */
.fw600{
    font-weight: 600;
}

.fs1-9rem{
    font-size: 1.9rem;
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 5rem;
}

h3{
    font-size: 2.5rem;
}

.center-bar i{
    margin: 0 35px;
    font-size: 2.5rem;
}

.center-bar::before,
.center-bar::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.dark.center-bar::before,
.dark.center-bar::after{
    background-color: rgb(44, 62, 80);
    border: 2px solid rgb(44, 62, 80);
}

.short.center-bar::before,
.short.center-bar::after{
    width: 140px;
}

.short i{
    margin: 0 20px;
}

/* divs */
.padding-section{
    padding: 60px 0 90px;
}

.h-50{
    height: 50px;
}

.h-250{
    height: 250px;
}

.h-500{
    height: 500px;
}

/******************************************************************* 
HEADER
 ********************************************************************/
header.main-header .mynav{
    margin-bottom: 0px;
    border: 0;
    background-color: transparent;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

header.main-header .container .navbar .mywhite{
    padding-left: 0px;
}

header.main-header .container .navbar .mywhite,
header.main-header .container .navbar .mywhite a{
    color: rgb(255, 255, 255);
}

header.main-header .container .navbar .mywhite a:last-child{
    padding-right: 0;
}

/*****************************************************************
HERO 
******************************************************************/
section.hero{
    padding-top: 50px;
    padding-bottom: 50px;
}

section.hero .container img{
    max-width: 260px;
}


/******************************************************************
PORTFOLIO
******************************************************************/
.portfolio [class^="col"]{
    margin-top: 30px;
}

section.portfolio img.img-rounded{
    border-radius: 5%;
}

/******************************************************************
ABOUT
******************************************************************/
a.btn.mybtn{
    background-color: transparent;
    border-color: white;
    color: white;
    margin-top: 30px;
}

a.btn.mybtn i.m-right{
    margin-right: 10px;
}

section.about .container > .row{
    margin-top: 25px;
}
/******************************************************************
CONTACT ME
******************************************************************/
section.contact-me form.myform input,
section.contact-me form.myform textarea{
    border: 0 transparent;
    border-bottom: 1px solid rgba(44, 62, 80, 0.25);
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
    height: 2rem;
}

section.contact-me .center-bar{
    margin-bottom: 25px;
}

section.contact-me form.myform textarea{
    height: 100%;
}

section.contact-me form.myform label{
    margin-bottom: 0px;
}

section.contact-me form.myform button.mybtn{
    background-color: ;
}