@media screen and (max-width: 991px){
    h2{
        font-size: 4rem;
    }

    h3{
        font-size: 2.4rem;
    }

    p{
        font-size: 1.7rem;
    }

    .center-bar i{
        margin: 0 25px;
    }

    .short i{
        margin: 0 10px;
    }

    .center-bar::before,
    .center-bar::after{
    width: 140px;
    }
    
    .short.center-bar::before,
    .short.center-bar::after{
        width: 95px;
    }

    .circle{
        padding: 10px;
        border-radius: 50%;
    }
    .circle i{
        width: 20px;
        height: 15px;
    }

    /* bot footer */
    footer.top-footer p{
        font-size: 1.5rem;
    }
    
}